include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include item_visibility *.css
recursive-include item_visibility *.csv
recursive-include item_visibility *.html
recursive-include item_visibility *.ico
recursive-include item_visibility *.js
recursive-include item_visibility *.json
recursive-include item_visibility *.md
recursive-include item_visibility *.png
recursive-include item_visibility *.py
recursive-include item_visibility *.svg
recursive-include item_visibility *.txt
recursive-exclude item_visibility *.pyc
